In [1]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns 
import numpy as np

In [2]:
apt = pd.read_csv('./apt.csv')
day_care = pd.read_csv('./day_care.csv', encoding = 'cp949')
park = pd.read_csv('./park1.csv')

# 데이터 준비

## 1. apt 데이터

In [3]:
apt['gu'] = 0
apt['dong'] = 0

In [4]:
for i in range(len(apt)):
    apt['gu'][i] = apt['시군구'][i].split()[1]
    apt['dong'][i] = apt['시군구'][i].split()[2]

C:\Users\조\AppData\Local\Temp\ipykernel_9232\4216925879.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  apt['gu'][i] = apt['시군구'][i].split()[1]
C:\Users\조\AppData\Local\Temp\ipykernel_9232\4216925879.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  apt['dong'][i] = apt['시군구'][i].split()[2]

In [5]:
apt.head()

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,gu,dong
0,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202112,4,"215,000",3,1987.0,언주로 3,강남구,개포동
1,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202204,12,"220,000",4,1987.0,언주로 3,강남구,개포동
2,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202204,21,"220,000",2,1987.0,언주로 3,강남구,개포동
3,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202205,27,"216,000",2,1987.0,언주로 3,강남구,개포동
4,서울특별시 강남구 개포동,1282,1282.0,0.0,개포래미안포레스트,74.66,202109,16,"253,000",2,2020.0,개포로 264,강남구,개포동

In [6]:
drop_features = ['시군구', '본번', '부번', '도로명']
apt = apt.drop(drop_features, axis = 1)

In [7]:
apt = apt.rename(columns={"번지": 'jibun', '단지명': 'apt_name', '전용면적(㎡)': 'use_area', '계약년월': 'transaction_year_month',
                        '계약일': 'transaction_date', '거래금액(만원)': 'price', '층': 'floor', '건축년도': 'year_of_completion'})

In [8]:
apt['price'] = apt.price.apply(lambda x: x.replace(',', ''))
apt['price'] = apt.price.apply(pd.to_numeric)

In [9]:
apt.head()

,jibun,apt_name,use_area,transaction_year_month,transaction_date,price,floor,year_of_completion,gu,dong
0,658-1,개포6차우성아파트1동~8동,79.97,202112,4,215000,3,1987.0,강남구,개포동
1,658-1,개포6차우성아파트1동~8동,79.97,202204,12,220000,4,1987.0,강남구,개포동
2,658-1,개포6차우성아파트1동~8동,79.97,202204,21,220000,2,1987.0,강남구,개포동
3,658-1,개포6차우성아파트1동~8동,79.97,202205,27,216000,2,1987.0,강남구,개포동
4,1282,개포래미안포레스트,74.66,202109,16,253000,2,2020.0,강남구,개포동

In [10]:
apt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 321705 entries, 0 to 321704
Data columns (total 10 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   jibun                   321566 non-null  object
 1   apt_name                321705 non-null  object
 2   use_area                321705 non-null  float64
 3   transaction_year_month  321705 non-null  int64
 4   transaction_date        321705 non-null  int64
 5   price                   321705 non-null  int64
 6   floor                   321705 non-null  int64
 7   year_of_completion      321703 non-null  float64
 8   gu                      321705 non-null  object
 9   dong                    321705 non-null  object
dtypes: float64(2), int64(4), object(4)
memory usage: 24.5+ MB

## 2. day_care 데이터

In [11]:
day_care.head()

,시군구명,어린이집명,어린이집유형,운영현황,상세주소,보육실수,보육실 면적,놀이터수,CCTV총설치수,정원,현원,시설 위도(좌표값),시설 경도(좌표값),통학차량운영여부,인가일자,제공서비스,반수,아동수,보육교직원수
0,동작구,구립아리아어린이집,국공립,정상,서울특별시 동작구 보라매로5길 51 102호,4,103.0,0,6,33,28,37.490797,126.923171,미운영,2027-12-31,야간연장휴일보육시간제보육,7,28,12
1,구로구,달숲어린이집,국공립,정상,서울특별시 구로구 중앙로5길 59 고척아이파크 RD 내 관리동,6,478.0,2,0,89,0,37.566470,126.977963,NaN,2022-09-01,장애아통합,0,0,0
2,마포구,삼성아이마루어린이집,국공립,정상,서울특별시 마포구 백범로25길 63 염리삼성래미안 관리동,4,107.0,1,8,30,22,37.548530,126.946146,미운영,2022-09-01,일반,7,22,10
3,구로구,별숲어린이집,국공립,정상,서울특별시 구로구 경인로43길 49 고척아이파크MD 내 관리실,10,1649.0,3,0,180,0,37.566470,126.977963,NaN,2022-09-01,야간연장,0,0,0
4,중랑구,중랑실내놀이터,국공립,정상,서울특별시 중랑구 용마산로 209,0,641.0,0,0,0,0,NaN,NaN,NaN,2022-08-26,시간제보육,0,0,0

In [12]:
day_care.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9360 entries, 0 to 9359
Data columns (total 19 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   시군구명        9360 non-null   object
 1   어린이집명       9360 non-null   object
 2   어린이집유형      9360 non-null   object
 3   운영현황        9357 non-null   object
 4   상세주소        9353 non-null   object
 5   보육실수        9360 non-null   int64
 6   보육실 면적      9360 non-null   float64
 7   놀이터수        9360 non-null   int64
 8   CCTV총설치수    9360 non-null   int64
 9   정원          9360 non-null   int64
 10  현원          9360 non-null   int64
 11  시설 위도(좌표값)  8623 non-null   float64
 12  시설 경도(좌표값)  8623 non-null   float64
 13  통학차량운영여부    8507 non-null   object
 14  인가일자        9335 non-null   object
 15  제공서비스       9325 non-null   object
 16  반수          9360 non-null   int64
 17  아동수         9360 non-null   int64
 18  보육교직원수      9360 non-null   int64
dtypes: float64(3), int64(8), object(8)
memory usage: 1.4+ MB

In [13]:
# 필요없는 특성 지우기

drop_columns = ["상세주소", "시설 위도(좌표값)", "시설 경도(좌표값)", "보육실 면적", "제공서비스", "반수", "아동수"]

day_care.drop(drop_columns, axis=1, inplace=True)

In [14]:
# 컬럼명을 영어로 바꾸기

day_care.columns = ["gu", "day_care_name", "day_care_type", "day_care_status", "nursing_room_num", "playground_num",
                    "CCTV_num", "maximum_num", "current_num", "commuting_vehicle", "permission_date", "teacher_num"]

In [15]:
# 현황이 정상인 값만 남기기

day_care = day_care[day_care["day_care_status"] == "정상"]

In [16]:
# 통학차량운영여부 NaN 값을 미운영으로 바꾸기

day_care["commuting_vehicle"].fillna("미운영", inplace=True)

In [17]:
day_care["commuting_vehicle"].value_counts()

미운영    4051
운영      711
Name: commuting_vehicle, dtype: int64

In [18]:
# 정원이 0인 값들 지우기

day_care = day_care[(day_care["maximum_num"] != 0)]

In [19]:
# 보육교직원수가 0인 값들 지우기

day_care = day_care[day_care["teacher_num"] != 0]

In [20]:
# 인가일자를 날자형으로 바꾸고 년도만 추출

day_care["permission_date"] = day_care["permission_date"].apply(pd.to_datetime)
day_care["permission_year"] = day_care["permission_date"].apply(lambda x : x.year)
day_care.drop("permission_date", axis=1, inplace=True)

In [21]:
day_care.head()

,gu,day_care_name,day_care_type,day_care_status,nursing_room_num,playground_num,CCTV_num,maximum_num,current_num,commuting_vehicle,teacher_num,permission_year
0,동작구,구립아리아어린이집,국공립,정상,4,0,6,33,28,미운영,12,2027
2,마포구,삼성아이마루어린이집,국공립,정상,4,1,8,30,22,미운영,10,2022
5,영등포구,LG 에너지솔루션 지정 어린이집,직장,정상,9,1,0,108,60,미운영,42,2022
6,강남구,케이티앤지 어린이집,직장,정상,4,0,8,49,8,미운영,6,2022
7,양천구,나연어린이집,가정,정상,3,0,3,12,6,미운영,3,2022

## 3. park 데이터

In [22]:
park.head()

,구,공원 면적 (천㎡),1인당 공원면적 (㎡),도시공원 면적 (천㎡),1인당 도시공원면적 (㎡),도보생활권공원 면적 (천㎡),1인당 도보생활권공원면적 (㎡)
0,종로구,11402.58,71.72,6280.66,39.50,3024.28,19.02
1,중구,3163.83,23.50,3091.30,22.96,1344.78,9.99
2,용산구,1777.06,7.26,760.62,3.11,1612.72,6.59
3,성동구,3073.98,10.23,1231.01,4.10,2896.08,9.64
4,광진구,3451.04,9.58,2985.27,8.29,1350.93,3.75

In [23]:
len(park)

25

In [24]:
park = park.rename(columns={"구": 'gu', '공원 면적 (천㎡)': 'park_area', '1인당 공원면적 (㎡)': 'one_park_area',
                            '도시공원 면적 (천㎡)': 'citypark_area', 
                            '1인당 도시공원면적 (㎡)': 'one_citypark_area', 
                            '도보생활권공원 면적 (천㎡)': 'walkpark_area', 
                            '1인당 도보생활권공원면적 (㎡)': 'one_walkpark_area'})

In [25]:
park.head()

,gu,park_area,one_park_area,citypark_area,one_citypark_area,walkpark_area,one_walkpark_area
0,종로구,11402.58,71.72,6280.66,39.50,3024.28,19.02
1,중구,3163.83,23.50,3091.30,22.96,1344.78,9.99
2,용산구,1777.06,7.26,760.62,3.11,1612.72,6.59
3,성동구,3073.98,10.23,1231.01,4.10,2896.08,9.64
4,광진구,3451.04,9.58,2985.27,8.29,1350.93,3.75

In [26]:
park.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gu                 25 non-null     object
 1   park_area          25 non-null     float64
 2   one_park_area      25 non-null     float64
 3   citypark_area      25 non-null     float64
 4   one_citypark_area  25 non-null     float64
 5   walkpark_area      25 non-null     float64
 6   one_walkpark_area  25 non-null     float64
dtypes: float64(6), object(1)
memory usage: 1.5+ KB

# 전체 전처리

## 1. 결측치 확인

### (1) apt

In [27]:
apt.isnull().sum()

jibun                     139
apt_name                    0
use_area                    0
transaction_year_month      0
transaction_date            0
price                       0
floor                       0
year_of_completion          2
gu                          0
dong                        0
dtype: int64

In [28]:
# 지번 변수에 결측치가 139개 있고, 분석에 유의미한 변수가 아니므로 삭제
apt.drop('jibun', axis=1, inplace=True)

In [29]:
apt.head()

,apt_name,use_area,transaction_year_month,transaction_date,price,floor,year_of_completion,gu,dong
0,개포6차우성아파트1동~8동,79.97,202112,4,215000,3,1987.0,강남구,개포동
1,개포6차우성아파트1동~8동,79.97,202204,12,220000,4,1987.0,강남구,개포동
2,개포6차우성아파트1동~8동,79.97,202204,21,220000,2,1987.0,강남구,개포동
3,개포6차우성아파트1동~8동,79.97,202205,27,216000,2,1987.0,강남구,개포동
4,개포래미안포레스트,74.66,202109,16,253000,2,2020.0,강남구,개포동

In [30]:
# 완공년도의 결측치가 있는 행 2개를 삭제
apt.dropna(axis=0, inplace=True)

In [31]:
apt.isnull().sum()

apt_name                  0
use_area                  0
transaction_year_month    0
transaction_date          0
price                     0
floor                     0
year_of_completion        0
gu                        0
dong                      0
dtype: int64

In [32]:
len(apt)

321703

### (2) day_care

In [33]:
day_care.isnull().sum()  # 결측치 없음

gu                   0
day_care_name        0
day_care_type        0
day_care_status      0
nursing_room_num     0
playground_num       0
CCTV_num             0
maximum_num          0
current_num          0
commuting_vehicle    0
teacher_num          0
permission_year      0
dtype: int64

### (3) park

In [34]:
park.isnull().sum()

gu                   0
park_area            0
one_park_area        0
citypark_area        0
one_citypark_area    0
walkpark_area        0
one_walkpark_area    0
dtype: int64

## 2. day_care 데이터에서 구 별 대표값 데이터프레임 생성

In [35]:
day_care.columns

Index(['gu', 'day_care_name', 'day_care_type', 'day_care_status',
       'nursing_room_num', 'playground_num', 'CCTV_num', 'maximum_num',
       'current_num', 'commuting_vehicle', 'teacher_num', 'permission_year'],
      dtype='object')

In [36]:
day_care.head()

,gu,day_care_name,day_care_type,day_care_status,nursing_room_num,playground_num,CCTV_num,maximum_num,current_num,commuting_vehicle,teacher_num,permission_year
0,동작구,구립아리아어린이집,국공립,정상,4,0,6,33,28,미운영,12,2027
2,마포구,삼성아이마루어린이집,국공립,정상,4,1,8,30,22,미운영,10,2022
5,영등포구,LG 에너지솔루션 지정 어린이집,직장,정상,9,1,0,108,60,미운영,42,2022
6,강남구,케이티앤지 어린이집,직장,정상,4,0,8,49,8,미운영,6,2022
7,양천구,나연어린이집,가정,정상,3,0,3,12,6,미운영,3,2022

In [37]:
day_care.drop([0], inplace=True)  # 첫번째 데이터는 아직 개원을 안한 어린이집이므로 삭제

In [38]:
day_care.head()

,gu,day_care_name,day_care_type,day_care_status,nursing_room_num,playground_num,CCTV_num,maximum_num,current_num,commuting_vehicle,teacher_num,permission_year
2,마포구,삼성아이마루어린이집,국공립,정상,4,1,8,30,22,미운영,10,2022
5,영등포구,LG 에너지솔루션 지정 어린이집,직장,정상,9,1,0,108,60,미운영,42,2022
6,강남구,케이티앤지 어린이집,직장,정상,4,0,8,49,8,미운영,6,2022
7,양천구,나연어린이집,가정,정상,3,0,3,12,6,미운영,3,2022
8,송파구,돌마리어린이집,국공립,정상,5,1,26,79,71,미운영,14,2022

In [39]:
day_care.groupby("gu").describe().T  # 모두 평균값과 중앙값의 차이가 거의 없으므로 평균으로 설정

gu                              강남구          강동구          강북구          강서구  \
nursing_room_num count   180.000000   233.000000   123.000000   309.000000
                 mean      4.783333     4.909871     5.113821     4.401294
                 std       1.981126     2.219727     2.037369     1.737889
                 min       2.000000     2.000000     3.000000     2.000000
                 25%       3.000000     3.000000     3.000000     3.000000
                 50%       4.000000     4.000000     5.000000     4.000000
                 75%       6.000000     6.000000     6.000000     5.000000
                 max      14.000000    17.000000    14.000000    16.000000
playground_num   count   180.000000   233.000000   123.000000   309.000000
                 mean      1.155556     0.815451     0.934959     0.556634
                 std       1.240932     0.916949     1.014161     0.810361
                 min       0.000000     0.000000     0.000000     0.000000
                 25%       0.000000     0.000000     0.000000     0.000000
                 50%       1.000000     1.000000     1.000000     0.000000
                 75%       2.000000     1.000000     1.500000     1.000000
                 max       8.000000     4.000000     4.000000     5.000000
CCTV_num         count   180.000000   233.000000   123.000000   309.000000
                 mean     13.305556     9.630901     8.211382     8.064725
                 std       9.689075     7.407550     4.398681     6.280434
                 min       3.000000     0.000000     0.000000     0.000000
                 25%       6.000000     4.000000     4.000000     4.000000
                 50%      12.000000     8.000000     8.000000     6.000000
                 75%      16.000000    13.000000    11.000000    10.000000
                 max      61.000000    52.000000    21.000000    58.000000
maximum_num      count   180.000000   233.000000   123.000000   309.000000
                 mean     58.400000    52.025751    52.756098    44.902913
                 std      39.524068    39.072868    38.265111    35.756713
                 min      10.000000    15.000000    14.000000    12.000000
                 25%      25.000000    20.000000    20.000000    20.000000
                 50%      49.000000    39.000000    45.000000    29.000000
                 75%      80.000000    75.000000    75.000000    67.000000
                 max     250.000000   249.000000   243.000000   300.000000
current_num      count   180.000000   233.000000   123.000000   309.000000
                 mean     37.305556    40.532189    38.000000    33.870550
                 std      28.167317    31.485903    33.068731    29.751941
                 min       0.000000     0.000000     0.000000     0.000000
                 25%      16.000000    19.000000    16.000000    16.000000
                 50%      30.500000    29.000000    27.000000    20.000000
                 75%      52.000000    58.000000    50.000000    46.000000
                 max     157.000000   199.000000   193.000000   275.000000
teacher_num      count   180.000000   233.000000   123.000000   309.000000
                 mean     12.433333    11.171674    10.626016     9.974110
                 std       6.608020     5.952083     5.452324     5.928632
                 min       1.000000     1.000000     1.000000     1.000000
                 25%       7.000000     7.000000     7.000000     7.000000
                 50%      11.000000    10.000000     9.000000     8.000000
                 75%      16.000000    14.000000    13.000000    12.000000
                 max      46.000000    49.000000    35.000000    66.000000
permission_year  count   180.000000   233.000000   123.000000   309.000000
                 mean   2007.411111  2008.605150  2005.544715  2008.524272
                 std       9.822326     8.987941     9.787289     8.399727
                 min    1977.000000  1980.000000  1981.000000  1982.000000
                 25%    1998.000000  2004.000000  1998.000000  2004.000000
                 50%    2011.000000  2011.000000  2003.000000  2009.000000
                 75%    2015.000000  2016.000000  2016.000000  2016.000000
                 max    2022.000000  2022.000000  2020.000000  2022.000000

gu                              관악구          광진구          구로구          금천구  \
nursing_room_num count   185.000000   148.000000   261.000000   129.000000
                 mean      4.627027     4.790541     4.291188     4.968992
                 std       1.721452     1.671096     1.771429     2.228852
                 min       2.000000     3.000000     1.000000     2.000000
                 25%       3.000000     4.000000     3.000000     3.000000
                 50%       4.000000     4.000000     4.000000     4.000000
                 75%       5.000000     5.000000     5.000000     6.000000
                 max      14.000000    12.000000    12.000000    17.000000
playground_num   count   185.000000   148.000000   261.000000   129.000000
                 mean      0.756757     0.831081     0.697318     0.868217
                 std       1.229294     1.006026     0.974853     0.955084
                 min       0.000000     0.000000     0.000000     0.000000
                 25%       0.000000     0.000000     0.000000     0.000000
                 50%       1.000000     1.000000     0.000000     1.000000
                 75%       1.000000     1.000000     1.000000     1.000000
                 max      12.000000     5.000000     5.000000     5.000000
CCTV_num         count   185.000000   148.000000   261.000000   129.000000
                 mean      8.627027     8.135135     7.977011     8.573643
                 std       5.664182     4.983850     5.367947     4.764411
                 min       3.000000     0.000000     0.000000     3.000000
                 25%       4.000000     4.000000     4.000000     4.000000
                 50%       6.000000     6.000000     5.000000     8.000000
                 75%      11.000000    11.000000    10.000000    11.000000
                 max      43.000000    24.000000    39.000000    27.000000
maximum_num      count   185.000000   148.000000   261.000000   129.000000
                 mean     48.162162    44.270270    43.501916    54.751938
                 std      35.638213    28.176701    31.335851    41.675088
                 min      15.000000    16.000000     9.000000    14.000000
                 25%      20.000000    20.000000    19.000000    20.000000
                 50%      37.000000    34.000000    27.000000    48.000000
                 75%      71.000000    59.250000    65.000000    75.000000
                 max     250.000000   164.000000   156.000000   297.000000
current_num      count   185.000000   148.000000   261.000000   129.000000
                 mean     33.567568    32.378378    32.977011    36.248062
                 std      24.953588    23.082934    24.819337    29.574068
                 min       0.000000     0.000000     0.000000     0.000000
                 25%      17.000000    17.000000    17.000000    17.000000
                 50%      24.000000    26.500000    20.000000    25.000000
                 75%      46.000000    45.500000    46.000000    49.000000
                 max     161.000000   117.000000   122.000000   184.000000
teacher_num      count   185.000000   148.000000   261.000000   129.000000
                 mean      9.832432     9.817568     9.126437    10.697674
                 std       4.705342     4.584857     4.318488     5.425064
                 min       1.000000     1.000000     1.000000     1.000000
                 25%       7.000000     7.000000     6.000000     7.000000
                 50%       9.000000     9.000000     8.000000     9.000000
                 75%      12.000000    12.250000    11.000000    13.000000
                 max      37.000000    26.000000    24.000000    34.000000
permission_year  count   185.000000   148.000000   261.000000   129.000000
                 mean   2004.881081  2005.945946  2007.199234  2006.945736
                 std      10.738842     9.343617     8.942474     9.909993
                 min    1981.000000  1975.000000  1961.000000  1982.000000
                 25%    1998.000000  1999.000000  2002.000000  2000.000000
                 50%    2005.000000  2005.000000  2008.000000  2007.000000
                 75%    2014.000000  2013.000000  2014.000000  2016.000000
                 max    2022.000000  2022.000000  2022.000000  2022.000000

gu                              노원구          도봉구  ...          성동구  \
nursing_room_num count   301.000000   164.000000  ...   153.000000
                 mean      3.740864     4.298780  ...     4.241830
                 std       1.773685     1.676909  ...     1.766003
                 min       1.000000     1.000000  ...     1.000000
                 25%       3.000000     3.000000  ...     3.000000
                 50%       3.000000     4.000000  ...     4.000000
                 75%       4.000000     5.000000  ...     5.000000
                 max      17.000000    10.000000  ...    13.000000
playground_num   count   301.000000   164.000000  ...   153.000000
                 mean      0.534884     0.597561  ...     0.660131
                 std       0.960701     0.856011  ...     1.083145
                 min       0.000000     0.000000  ...     0.000000
                 25%       0.000000     0.000000  ...     0.000000
                 50%       0.000000     0.000000  ...     0.000000
                 75%       1.000000     1.000000  ...     1.000000
                 max       7.000000     4.000000  ...    10.000000
CCTV_num         count   301.000000   164.000000  ...   153.000000
                 mean      6.318937     7.371951  ...     8.915033
                 std       5.409677     5.132783  ...     6.722848
                 min       0.000000     0.000000  ...     1.000000
                 25%       4.000000     4.000000  ...     4.000000
                 50%       4.000000     5.000000  ...     8.000000
                 75%       6.000000     9.000000  ...    12.000000
                 max      54.000000    35.000000  ...    55.000000
maximum_num      count   301.000000   164.000000  ...   153.000000
                 mean     34.607973    43.408537  ...    47.633987
                 std      34.732873    31.365022  ...    32.508653
                 min       8.000000    11.000000  ...    13.000000
                 25%      15.000000    19.000000  ...    20.000000
                 50%      20.000000    26.500000  ...    43.000000
                 75%      42.000000    65.500000  ...    64.000000
                 max     255.000000   173.000000  ...   206.000000
current_num      count   301.000000   164.000000  ...   153.000000
                 mean     25.408638    30.560976  ...    34.398693
                 std      26.014146    24.014361  ...    23.626852
                 min       0.000000     1.000000  ...     2.000000
                 25%      12.000000    12.750000  ...    19.000000
                 50%      17.000000    20.000000  ...    28.000000
                 75%      29.000000    46.000000  ...    43.000000
                 max     231.000000   116.000000  ...   131.000000
teacher_num      count   301.000000   164.000000  ...   153.000000
                 mean      8.551495     9.585366  ...    10.424837
                 std       5.121345     4.264136  ...     4.820042
                 min       1.000000     2.000000  ...     3.000000
                 25%       6.000000     6.000000  ...     7.000000
                 50%       7.000000     8.000000  ...     9.000000
                 75%      10.000000    12.250000  ...    12.000000
                 max      39.000000    25.000000  ...    30.000000
permission_year  count   301.000000   164.000000  ...   153.000000
                 mean   2004.956811  2007.317073  ...  2006.313725
                 std       8.660723     9.066730  ...    10.405256
                 min    1981.000000  1981.000000  ...  1981.000000
                 25%    1999.000000  2001.750000  ...  1999.000000
                 50%    2004.000000  2006.500000  ...  2010.000000
                 75%    2012.000000  2016.250000  ...  2014.000000
                 max    2022.000000  2022.000000  ...  2021.000000

gu                              성북구          송파구          양천구         영등포구  \
nursing_room_num count   207.000000   330.000000   234.000000   221.000000
                 mean      4.318841     4.548485     4.051282     4.633484
                 std       1.605447     2.303509     1.884412     2.114143
                 min       2.000000     2.000000     2.000000     2.000000
                 25%       3.000000     3.000000     3.000000     3.000000
                 50%       4.000000     4.000000     3.000000     4.000000
                 75%       5.000000     5.000000     5.000000     5.000000
                 max      12.000000    18.000000    11.000000    13.000000
playground_num   count   207.000000   330.000000   234.000000   221.000000
                 mean      0.555556     0.542424     0.594017     0.841629
                 std       0.827651     0.791110     0.870182     1.081785
                 min       0.000000     0.000000     0.000000     0.000000
                 25%       0.000000     0.000000     0.000000     0.000000
                 50%       0.000000     0.000000     0.000000     1.000000
                 75%       1.000000     1.000000     1.000000     1.000000
                 max       4.000000     5.000000     4.000000     7.000000
CCTV_num         count   207.000000   330.000000   234.000000   221.000000
                 mean      8.038647     8.821212     7.807692    10.325792
                 std       5.715628     7.577854     5.595195     8.959643
                 min       0.000000     0.000000     2.000000     0.000000
                 25%       4.000000     4.000000     4.000000     4.000000
                 50%       6.000000     6.000000     5.000000     8.000000
                 75%      10.000000    11.000000    11.000000    13.000000
                 max      48.000000    61.000000    34.000000    55.000000
maximum_num      count   207.000000   330.000000   234.000000   221.000000
                 mean     41.661836    46.839394    39.803419    51.149321
                 std      25.944333    38.516980    34.573611    40.167834
                 min      10.000000    14.000000    12.000000    13.000000
                 25%      20.000000    20.000000    18.250000    20.000000
                 50%      34.000000    29.500000    20.000000    37.000000
                 75%      57.000000    69.750000    54.250000    70.000000
                 max     143.000000   276.000000   173.000000   207.000000
current_num      count   207.000000   330.000000   234.000000   221.000000
                 mean     32.565217    38.754545    30.645299    38.977376
                 std      22.743064    33.741513    28.011613    29.528637
                 min       0.000000     3.000000     0.000000     4.000000
                 25%      18.000000    19.000000    14.000000    18.000000
                 50%      23.000000    22.500000    19.000000    27.000000
                 75%      42.000000    54.000000    40.000000    52.000000
                 max     143.000000   229.000000   140.000000   143.000000
teacher_num      count   207.000000   330.000000   234.000000   221.000000
                 mean      9.763285    11.033333     9.102564    12.321267
                 std       4.185853     6.492135     5.040411     8.750634
                 min       1.000000     3.000000     1.000000     3.000000
                 25%       7.000000     7.000000     6.000000     7.000000
                 50%       9.000000     9.000000     8.000000    10.000000
                 75%      12.000000    14.000000    12.000000    14.000000
                 max      23.000000    49.000000    27.000000    54.000000
permission_year  count   207.000000   330.000000   234.000000   221.000000
                 mean   2007.405797  2009.709091  2007.871795  2009.031674
                 std       9.286673     8.313404     8.606853     9.189613
                 min    1981.000000  1981.000000  1984.000000  1982.000000
                 25%    2002.000000  2005.000000  2003.000000  2003.000000
                 50%    2007.000000  2012.000000  2009.000000  2012.000000
                 75%    2015.500000  2016.000000  2014.000000  2017.000000
                 max    2022.000000  2022.000000  2022.000000  2022.000000

gu                              용산구          은평구          종로구           중구  \
nursing_room_num count   103.000000   207.000000    71.000000    63.000000
                 mean      4.368932     5.323671     4.929577     5.000000
                 std       1.889031     2.297438     2.508978     2.250448
                 min       1.000000     1.000000     3.000000     3.000000
                 25%       3.000000     4.000000     4.000000     3.000000
                 50%       4.000000     5.000000     4.000000     4.000000
                 75%       5.000000     6.000000     5.000000     6.500000
                 max      18.000000    18.000000    17.000000    12.000000
playground_num   count   103.000000   207.000000    71.000000    63.000000
                 mean      0.776699     0.772947     0.929577     0.825397
                 std       0.839375     0.995935     0.990295     0.852694
                 min       0.000000     0.000000     0.000000     0.000000
                 25%       0.000000     0.000000     0.000000     0.000000
                 50%       1.000000     0.000000     1.000000     1.000000
                 75%       1.000000     1.000000     1.000000     1.000000
                 max       3.000000     5.000000     4.000000     3.000000
CCTV_num         count   103.000000   207.000000    71.000000    63.000000
                 mean      9.155340    11.946860    13.408451    14.952381
                 std       7.575447     7.078758    10.938239    10.386760
                 min       1.000000     0.000000     0.000000     3.000000
                 25%       4.000000     7.000000     8.000000     8.000000
                 50%       7.000000    10.000000    10.000000    13.000000
                 75%      11.500000    16.000000    16.000000    19.000000
                 max      57.000000    33.000000    73.000000    64.000000
maximum_num      count   103.000000   207.000000    71.000000    63.000000
                 mean     47.796117    54.362319    61.690141    64.587302
                 std      33.302935    34.126395    39.558850    41.800075
                 min      18.000000    11.000000    19.000000    13.000000
                 25%      20.000000    25.000000    40.500000    35.000000
                 50%      39.000000    47.000000    49.000000    49.000000
                 75%      64.500000    79.000000    70.000000    89.500000
                 max     220.000000   200.000000   222.000000   195.000000
current_num      count   103.000000   207.000000    71.000000    63.000000
                 mean     35.922330    39.700483    37.014085    42.682540
                 std      24.756338    28.547306    25.706304    29.326761
                 min       3.000000     0.000000     6.000000     5.000000
                 25%      19.000000    19.000000    20.000000    20.500000
                 50%      26.000000    34.000000    30.000000    32.000000
                 75%      51.000000    57.000000    45.000000    62.000000
                 max     173.000000   160.000000   124.000000   140.000000
teacher_num      count   103.000000   207.000000    71.000000    63.000000
                 mean     10.805825    11.589372    13.676056    14.809524
                 std       6.329294     5.383405     8.340563     7.776841

In [40]:
# day_care.groupby("gu").describe().T를 한 결과 모두 평균값과 중앙값의 차이가 거의 없으므로 평균으로 설정
gu_day_care = day_care.groupby("gu").mean()

In [41]:
gu_day_care["gu"] = gu_day_care.index

In [42]:
gu_day_care.set_index(pd.Series(np.arange(25)), inplace=True)

In [43]:
columns = ['gu', 'nursing_room_num', 'playground_num', 'CCTV_num', 'maximum_num', 'current_num', 'teacher_num', 'permission_year']

gu_day_care = gu_day_care[columns]

In [44]:
gu_day_care = round(gu_day_care, 2)

In [45]:
gu_day_care['permission_year'] = round(gu_day_care['permission_year'])

In [46]:
day_care["commuting_vehicle"] = (day_care["commuting_vehicle"] == "운영")
gu_day_care["commuting_vehicle_sum"] = day_care.groupby("gu")["commuting_vehicle"].sum().tolist()

In [47]:
gu_day_care['day_care_num'] = day_care.groupby('gu').size().values

In [48]:
gu_day_care

,gu,nursing_room_num,playground_num,CCTV_num,maximum_num,current_num,teacher_num,permission_year,commuting_vehicle_sum,day_care_num
0,강남구,4.78,1.16,13.31,58.40,37.31,12.43,2007.0,20,180
1,강동구,4.91,0.82,9.63,52.03,40.53,11.17,2009.0,58,233
2,강북구,5.11,0.93,8.21,52.76,38.00,10.63,2006.0,40,123
3,강서구,4.40,0.56,8.06,44.90,33.87,9.97,2009.0,40,309
4,관악구,4.63,0.76,8.63,48.16,33.57,9.83,2005.0,32,185
5,광진구,4.79,0.83,8.14,44.27,32.38,9.82,2006.0,22,148
6,구로구,4.29,0.70,7.98,43.50,32.98,9.13,2007.0,28,261
7,금천구,4.97,0.87,8.57,54.75,36.25,10.70,2007.0,34,129
8,노원구,3.74,0.53,6.32,34.61,25.41,8.55,2005.0,37,301
9,도봉구,4.30,0.60,7.37,43.41,30.56,9.59,2007.0,52,164
10,동대문구,4.21,0.52,7.42,43.36,31.61,9.18,2007.0,28,184
11,동작구,4.52,0.63,9.01,45.47,35.72,10.64,2008.0,18,166
12,마포구,4.41,0.88,9.21,45.17,34.03,10.77,2008.0,3,185
13,서대문구,4.58,0.65,8.66,49.01,38.40,11.07,2006.0,19,131
14,서초구,5.10,0.83,12.97,59.72,42.07,12.70,2010.0,9,167
15,성동구,4.24,0.66,8.92,47.63,34.40,10.42,2006.0,19,153
16,성북구,4.32,0.56,8.04,41.66,32.57,9.76,2007.0,32,207
17,송파구,4.55,0.54,8.82,46.84,38.75,11.03,2010.0,37,330
18,양천구,4.05,0.59,7.81,39.80,30.65,9.10,2008.0,28,234
19,영등포구,4.63,0.84,10.33,51.15,38.98,12.32,2009.0,17,221
20,용산구,4.37,0.78,9.16,47.80,35.92,10.81,2006.0,13,103
21,은평구,5.32,0.77,11.95,54.36,39.70,11.59,2010.0,59,207
22,종로구,4.93,0.93,13.41,61.69,37.01,13.68,2006.0,8,71
23,중구,5.00,0.83,14.95,64.59,42.68,14.81,2006.0,2,63
24,중랑구,4.79,0.74,8.72,50.93,38.03,11.13,2005.0,55,188

## 3. 전체 데이터 합치기 (join)

In [49]:
final = apt.copy()
final

,apt_name,use_area,transaction_year_month,transaction_date,price,floor,year_of_completion,gu,dong
0,개포6차우성아파트1동~8동,79.97,202112,4,215000,3,1987.0,강남구,개포동
1,개포6차우성아파트1동~8동,79.97,202204,12,220000,4,1987.0,강남구,개포동
2,개포6차우성아파트1동~8동,79.97,202204,21,220000,2,1987.0,강남구,개포동
3,개포6차우성아파트1동~8동,79.97,202205,27,216000,2,1987.0,강남구,개포동
4,개포래미안포레스트,74.66,202109,16,253000,2,2020.0,강남구,개포동
...,...,...,...,...,...,...,...,...,...
321700,한영(102),72.22,201804,23,27300,3,2003.0,중랑구,중화동
321701,한영(103),69.52,201808,25,29500,4,2003.0,중랑구,중화동
321702,한영(104),67.57,201711,4,25100,4,2003.0,중랑구,중화동
321703,한영(104),75.88,201808,29,24500,2,2003.0,중랑구,중화동
321704,현대휴앤미,100.17,201807,30,37000,2,2007.0,중랑구,중화동

### (1) '같은 구' 일 때의 gu_day_care 데이터 추가

In [50]:
final = pd.merge(final, gu_day_care, on="gu", how="left")
final

,apt_name,use_area,transaction_year_month,transaction_date,price,floor,year_of_completion,gu,dong,nursing_room_num,playground_num,CCTV_num,maximum_num,current_num,teacher_num,permission_year,commuting_vehicle_sum,day_care_num
0,개포6차우성아파트1동~8동,79.97,202112,4,215000,3,1987.0,강남구,개포동,4.78,1.16,13.31,58.40,37.31,12.43,2007.0,20,180
1,개포6차우성아파트1동~8동,79.97,202204,12,220000,4,1987.0,강남구,개포동,4.78,1.16,13.31,58.40,37.31,12.43,2007.0,20,180
2,개포6차우성아파트1동~8동,79.97,202204,21,220000,2,1987.0,강남구,개포동,4.78,1.16,13.31,58.40,37.31,12.43,2007.0,20,180
3,개포6차우성아파트1동~8동,79.97,202205,27,216000,2,1987.0,강남구,개포동,4.78,1.16,13.31,58.40,37.31,12.43,2007.0,20,180
4,개포래미안포레스트,74.66,202109,16,253000,2,2020.0,강남구,개포동,4.78,1.16,13.31,58.40,37.31,12.43,2007.0,20,180
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321698,한영(102),72.22,201804,23,27300,3,2003.0,중랑구,중화동,4.79,0.74,8.72,50.93,38.03,11.13,2005.0,55,188
321699,한영(103),69.52,201808,25,29500,4,2003.0,중랑구,중화동,4.79,0.74,8.72,50.93,38.03,11.13,2005.0,55,188
321700,한영(104),67.57,201711,4,25100,4,2003.0,중랑구,중화동,4.79,0.74,8.72,50.93,38.03,11.13,2005.0,55,188
321701,한영(104),75.88,201808,29,24500,2,2003.0,중랑구,중화동,4.79,0.74,8.72,50.93,38.03,11.13,2005.0,55,188
321702,현대휴앤미,100.17,201807,30,37000,2,2007.0,중랑구,중화동,4.79,0.74,8.72,50.93,38.03,11.13,2005.0,55,188

### (2) '같은 구' 일 때의 park 데이터 추가

In [51]:
final = pd.merge(final, park, on="gu", how="left")
final.head()

,apt_name,use_area,transaction_year_month,transaction_date,price,floor,year_of_completion,gu,dong,nursing_room_num,...,teacher_num,permission_year,commuting_vehicle_sum,day_care_num,park_area,one_park_area,citypark_area,one_citypark_area,walkpark_area,one_walkpark_area
0,개포6차우성아파트1동~8동,79.97,202112,4,215000,3,1987.0,강남구,개포동,4.78,...,12.43,2007.0,20,180,7768.75,14.28,6479.09,11.91,3628.21,6.67
1,개포6차우성아파트1동~8동,79.97,202204,12,220000,4,1987.0,강남구,개포동,4.78,...,12.43,2007.0,20,180,7768.75,14.28,6479.09,11.91,3628.21,6.67
2,개포6차우성아파트1동~8동,79.97,202204,21,220000,2,1987.0,강남구,개포동,4.78,...,12.43,2007.0,20,180,7768.75,14.28,6479.09,11.91,3628.21,6.67
3,개포6차우성아파트1동~8동,79.97,202205,27,216000,2,1987.0,강남구,개포동,4.78,...,12.43,2007.0,20,180,7768.75,14.28,6479.09,11.91,3628.21,6.67
4,개포래미안포레스트,74.66,202109,16,253000,2,2020.0,강남구,개포동,4.78,...,12.43,2007.0,20,180,7768.75,14.28,6479.09,11.91,3628.21,6.67

In [52]:
final.isnull().sum()

apt_name                  0
use_area                  0
transaction_year_month    0
transaction_date          0
price                     0
floor                     0
year_of_completion        0
gu                        0
dong                      0
nursing_room_num          0
playground_num            0
CCTV_num                  0
maximum_num               0
current_num               0
teacher_num               0
permission_year           0
commuting_vehicle_sum     0
day_care_num              0
park_area                 0
one_park_area             0
citypark_area             0
one_citypark_area         0
walkpark_area             0
one_walkpark_area         0
dtype: int64

In [53]:
final.to_csv("apartment_price.csv", index = False)

In [54]:
pd.read_csv('./apartment_price.csv')

,apt_name,use_area,transaction_year_month,transaction_date,price,floor,year_of_completion,gu,dong,nursing_room_num,...,teacher_num,permission_year,commuting_vehicle_sum,day_care_num,park_area,one_park_area,citypark_area,one_citypark_area,walkpark_area,one_walkpark_area
0,개포6차우성아파트1동~8동,79.97,202112,4,215000,3,1987.0,강남구,개포동,4.78,...,12.43,2007.0,20,180,7768.75,14.28,6479.09,11.91,3628.21,6.67
1,개포6차우성아파트1동~8동,79.97,202204,12,220000,4,1987.0,강남구,개포동,4.78,...,12.43,2007.0,20,180,7768.75,14.28,6479.09,11.91,3628.21,6.67
2,개포6차우성아파트1동~8동,79.97,202204,21,220000,2,1987.0,강남구,개포동,4.78,...,12.43,2007.0,20,180,7768.75,14.28,6479.09,11.91,3628.21,6.67
3,개포6차우성아파트1동~8동,79.97,202205,27,216000,2,1987.0,강남구,개포동,4.78,...,12.43,2007.0,20,180,7768.75,14.28,6479.09,11.91,3628.21,6.67
4,개포래미안포레스트,74.66,202109,16,253000,2,2020.0,강남구,개포동,4.78,...,12.43,2007.0,20,180,7768.75,14.28,6479.09,11.91,3628.21,6.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321698,한영(102),72.22,201804,23,27300,3,2003.0,중랑구,중화동,4.79,...,11.13,2005.0,55,188,4990.30,12.49,4807.63,12.03,1668.90,4.18
321699,한영(103),69.52,201808,25,29500,4,2003.0,중랑구,중화동,4.79,...,11.13,2005.0,55,188,4990.30,12.49,4807.63,12.03,1668.90,4.18
321700,한영(104),67.57,201711,4,25100,4,2003.0,중랑구,중화동,4.79,...,11.13,2005.0,55,188,4990.30,12.49,4807.63,12.03,1668.90,4.18
321701,한영(104),75.88,201808,29,24500,2,2003.0,중랑구,중화동,4.79,...,11.13,2005.0,55,188,4990.30,12.49,4807.63,12.03,1668.90,4.18
321702,현대휴앤미,100.17,201807,30,37000,2,2007.0,중랑구,중화동,4.79,...,11.13,2005.0,55,188,4990.30,12.49,4807.63,12.03,1668.90,4.18