In [1]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns 
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
apt = pd.read_csv('./apartment_price.csv')
apt.head()

,apt_name,use_area,transaction_year_month,transaction_date,price,floor,year_of_completion,gu,dong,nursing_room_num,...,teacher_num,permission_year,commuting_vehicle_sum,day_care_num,park_area,one_park_area,citypark_area,one_citypark_area,walkpark_area,one_walkpark_area
0,개포6차우성아파트1동~8동,79.97,202112,4,215000,3,1987.0,강남구,개포동,4.78,...,12.43,2007.0,20,180,7768.75,14.28,6479.09,11.91,3628.21,6.67
1,개포6차우성아파트1동~8동,79.97,202204,12,220000,4,1987.0,강남구,개포동,4.78,...,12.43,2007.0,20,180,7768.75,14.28,6479.09,11.91,3628.21,6.67
2,개포6차우성아파트1동~8동,79.97,202204,21,220000,2,1987.0,강남구,개포동,4.78,...,12.43,2007.0,20,180,7768.75,14.28,6479.09,11.91,3628.21,6.67
3,개포6차우성아파트1동~8동,79.97,202205,27,216000,2,1987.0,강남구,개포동,4.78,...,12.43,2007.0,20,180,7768.75,14.28,6479.09,11.91,3628.21,6.67
4,개포래미안포레스트,74.66,202109,16,253000,2,2020.0,강남구,개포동,4.78,...,12.43,2007.0,20,180,7768.75,14.28,6479.09,11.91,3628.21,6.67

In [3]:
train, test = train_test_split(apt, test_size=0.2, random_state = 7916, stratify = apt['gu'])

In [16]:
target = test['price'].copy()
test = test.drop('price', axis = 1)

In [19]:
all_data = pd.concat([train, test], axis = 0, ignore_index = True)  # 행축으로 연결
all_data.tail()

,apt_name,use_area,transaction_year_month,transaction_date,price,floor,year_of_completion,gu,dong,nursing_room_num,...,teacher_num,permission_year,commuting_vehicle_sum,day_care_num,park_area,one_park_area,citypark_area,one_citypark_area,walkpark_area,one_walkpark_area
321698,우방,114.79,202003,27,NaN,2,1999.0,관악구,신림동,4.63,...,9.83,2005.0,32,185,12431.42,24.38,12424.91,24.37,1910.24,3.75
321699,한마을,149.97,201803,24,NaN,24,1999.0,구로구,개봉동,4.29,...,9.13,2007.0,28,261,3641.45,8.42,3319.70,7.68,1533.35,3.55
321700,정릉우성아파트 101~105동,84.99,202002,22,NaN,8,2000.0,성북구,정릉동,4.32,...,9.76,2007.0,32,207,8507.35,19.03,4586.77,10.26,1640.43,3.67
321701,양평현대6차,59.98,201806,21,NaN,5,2000.0,영등포구,양평동3가,4.63,...,12.32,2009.0,17,221,3009.28,7.39,664.47,1.63,2957.42,7.26
321702,은평뉴타운마고정2단지,84.04,201806,23,NaN,2,2009.0,은평구,진관동,5.32,...,11.59,2010.0,59,207,14365.72,29.68,6597.53,13.63,2200.62,4.55

In [22]:
drop_features = ['apt_name', 'gu', 'dong', 'transaction_year_month', 'transaction_date', 'year_of_completion', 'commuting_vehicle_sum', 
                 'day_care_num', 'permission_year', 'park_area', 'one_park_area', 'citypark_area', 'one_citypark_area']
all_data = all_data.drop(drop_features, axis = 1)

In [25]:
X_train = all_data[~pd.isnull(all_data['price'])]
X_test = all_data[pd.isnull(all_data['price'])]

In [27]:
y_train = X_train['price']
X_train = X_train.drop(['price'], axis = 1)

X_test = X_test.drop(['price'], axis = 1)

## (11) Bagging (Ensemble)

In [35]:
from sklearn.ensemble import RandomForestRegressor

In [39]:
from sklearn.ensemble import BaggingRegressor

In [37]:
rnd_forest = RandomForestRegressor(max_depth=20, max_features=10, n_estimators=220, random_state=7916)

In [40]:
bag_reg = BaggingRegressor(rnd_forest, n_jobs=-1, random_state=7916)

In [41]:
scores = cross_val_score(bag_reg, X_train, log_y, scoring = 'neg_mean_squared_error', cv = 3)
-scores.mean()

0.0751410186533898

- Bagging 모델 mse = 0.0751410186533898